.App{
  height: fit-content;
  width: 80%;
  border: 1px solid black;
  margin: 0px auto;
  position: relative;
}
.name{
  position: absolute;
  display: table;
  text-align: center;
  margin: 0px 5px auto auto;
}
