.row-contact{
    padding: 10px 0px 10px 30px;
}
.detail-contact{
    width: 200px;
}
.icon-contact{
    padding: 0px 0px;
    max-width: 10px;
    margin-right: 30px;

}
.container-contact{
    max-width: fit-content;
    /* width: fit-content; */
    border: 1px solid black; 
    border-radius: 5px;
}

