.row{
    padding: 10px 0px 10px 30px;
}
.col{
    width: 200px;
}
.col-1{
    padding: 0px 0px;
    max-width: 200px;

}
.container-contact{
    max-width: fit-content;
    /* width: fit-content; */
    border: 1px solid black; 
    border-radius: 5px;
}

