.container-experience{
    max-width: fit-content;
    border: 1px solid black; 
    border-radius: 5px;
}
.row-experience{
    margin: 10px 0px 10px 30px;
}
.col-item{  
    width: 150px;
    padding: 0px 0px;
    margin-right: 30px;
}
.detail-content{
    width: 350px;
}