.container-experience{
    max-width: fit-content;
    border: 1px solid black; 
    border-radius: 5px;
}
.row-experience{
    padding: 10px 0px 10px 30px;
}
.col-item{  
    max-width: 150px;
}
.detail-content{
    width: 250px;
}